# macOS
.DS_Store

# Xcode
DerivedData/
*.xcuserdatad/
xcuserdata/
*.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
*.xcresult
build/
*.dSYM
*.ipa

# SwiftPM / CocoaPods / Carthage
.swiftpm/
.build/
Pods/
Carthage/Build/

# Node
node_modules/
npm-debug.log*
yarn.lock
pnpm-lock.yaml

# Env/Secrets
.env
.env.*
