# Xcode
.DS_Store
/build/
/DerivedData/
*.xcodeproj/project.xcworkspace
*.xcodeproj/xcuserdata/
*.xcworkspace/contents.xcworkspacedata
*.xcworkspace/xcuserdata/

# Swift Package Manager
/.build/
/Packages/

# Secrets
.env
.roo/
cloudflare.dev.vars
cloudfare.dev.vars
cloudfare_secrets.env
